<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Pagamentos</strong>
            </c-card-header>
            <c-card-body class="row">
                <h6 cCardSubtitle class="mb-2 text-medium-emphasis">
                    Em uma confecção de roupas, existem diversos pagamentos que são comumente encontrados. Aqui iremos
                    controlar os principais de forms específica e o restante criaremos um tipo padrão de pagamentos.
                    <br>
                </h6>

                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Matérias-primas</h5>
                        <p cCardText>
                            Os pagamentos relacionados às matérias-primas são essenciais em uma confecção de roupas.
                            Isso inclui o pagamento pelos tecidos, botões, zíperes, linhas, entre outros materiais
                            necessários para a produção das peças.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Mão de obra</h5>
                        <p cCardText>
                            Os salários e encargos sociais dos funcionários envolvidos na confecção, como costureiros,
                            modelistas, cortadores e equipe de acabamento, são um importante componente dos pagamentos
                            em uma confecção de roupas.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Aluguel e despesas operacionais</h5>
                        <p cCardText>
                            O pagamento do aluguel do espaço físico onde a confecção está localizada, bem como as
                            despesas operacionais, como contas de energia elétrica, água, telefone e internet, também
                            são essenciais.
                        </p>
                    </c-card-body>
                </c-card>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Vantagens</strong>
            </c-card-header>
            <c-card-body class="row">
                <h6 cCardSubtitle class="mb-2 text-medium-emphasis">
                    Indicadores financeiros importantes relacionados a pagamentos que podem fornecer insights valiosos
                    sobre a saúde financeira de uma confecção de roupas. Aqui estão alguns dos indicadores financeiros
                    mais relevantes
                    <br>
                </h6>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Prazo médio de pagamento a fornecedores</h5>
                        <p cCardText>
                            Refere-se ao tempo médio que uma confecção leva para pagar seus fornecedores após a compra
                            de matérias-primas. Um prazo mais longo pode indicar uma boa negociação com fornecedores,
                            mas também pode sinalizar dificuldades financeiras. Um prazo médio de pagamento a
                            fornecedores equilibrado é importante para manter relacionamentos saudáveis e obter
                            vantagens de negociação.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Margem de lucro bruta</h5>
                        <p cCardText>
                            É a diferença entre a receita total e o custo dos produtos vendidos, dividida pela receita
                            total, expressa em forma de porcentagem. A margem de lucro bruta mostra a eficiência da
                            produção e o controle de custos. Uma margem mais alta indica uma boa rentabilidade.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Giro de estoque</h5>
                        <p cCardText>
                            Eficiência com que o estoque da confecção está sendo convertido em vendas. É
                            calculado dividindo o custo dos produtos vendidos pela média do estoque. Um alto giro de
                            estoque é desejável, pois indica uma gestão eficiente do estoque e a minimização de custos
                            associados ao armazenamento.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Gestão de pagamentos</h5>
                        <p cCardText>
                            Ao utilizar um sistema de gestão a empresa não corre o risco de perder datas de pagamentos,
                            pois está tudo centralizado no sistema. O Sistema trabalha com
                            pagamentos recorrentes, otimizando o tempo do gestor ao organizar as finanças da empresa.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Indicador</h5>
                        <p cCardText>
                            Será exibido o valor provisionado para o mês, será emitido alerta quando o valor do
                            pagamento estiver 30% maior que o mês passado e o volume de venda não acompanhar o aumento.
                        </p>
                    </c-card-body>
                </c-card>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>