<button cButton (click)="redirectToLink()">Conceito</button>

<table [striped]="true" cTable>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Vencimento</th>            
            <th scope="col">Fornecedor</th>
            <th scope="col">Tipo de pagamento</th>
            <th scope="col">Valor</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td></td>            
            <td></td>
            <td></td>
            <td></td>
        </tr>       
    </tbody>
</table>