<button cButton (click)="redirectToLink()">Conceito</button>

<table [striped]="true" cTable>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Vencimento</th>            
            <th scope="col">Fornecedor</th>
            <th scope="col">Tipo de pagamento</th>
            <th scope="col">Valor</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>15/05/2023</td>            
            <td>Karil</td>
            <td>Matéria-prima</td>
            <td>10.000,00</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>30/05/2023</td>
            <td>Karil</td>
            <td>Matéria-prima</td>
            <td>5.000,00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>10/06/2023</td>
            <td>Karil</td>
            <td>Matéria-prima</td>
            <td>5.000,00</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>20/05/2023</td>
            <td>Eduardo Malharia</td>
            <td>Matéria-prima</td>
            <td>10.000,00</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>20/05/2023</td>
            <td>Eduardo Malharia</td>
            <td>Matéria-prima</td>
            <td>6.520,00</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>17/06/2023</td>
            <td>Eduardo Malharia</td>
            <td>Matéria-prima</td>
            <td>1.965,48</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>17/07/2023</td>
            <td>Eduardo Malharia</td>
            <td>Matéria-prima</td>
            <td>10.000,00</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>17/08/2023</td>
            <td>Eduardo Malharia</td>
            <td>Matéria-prima</td>
            <td>10.000,00</td>
        </tr>
    </tbody>
</table>