<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Cortes</strong>
            </c-card-header>
            <c-card-body class="row">
                <h6 cCardSubtitle class="mb-2 text-medium-emphasis">
                    Existem várias maneiras de otimizar um setor de corte em uma confecção. Vamos focar em Planejamento
                    eficiente e Monitoramento e análise de dados.
                    <br>
                </h6>

                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Planejamento eficiente</h5>
                        <p cCardText>
                            Demanda de produção, os prazos e os modelos a serem confeccionados. Isso ajuda a evitar
                            atrasos e gargalos no processo de corte.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Monitoramento e análise de dados</h5>
                        <p cCardText>
                            Monitorar o desempenho do setor de corte.Como taxa de aproveitamento de tecido, tempo médio
                            de corte e taxa de retrabalho, e utilize essas informações para identificar áreas de
                            melhoria e tomar decisões embasadas.
                        </p>
                    </c-card-body>
                </c-card>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Vantagens para confecção</strong>
            </c-card-header>
            <c-card-body class="row">
                <h6 cCardSubtitle class="mb-2 text-medium-emphasis">
                    Aqui serão listados os benefícios esperado no gerenciamento de cortes.
                    <br>
                </h6>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Histórico dos cortes</h5>
                        <p cCardText>
                            O Histórico do corte nos permite acompanhar a produtividade da malha comparado ao modelo da
                            peça produzida, é um controle essêncial para não perder a lucratividade da empresa.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Planejamento</h5>
                        <p cCardText>
                            Os cortes podem ser planejados antes da compra, gerando assim uma previsibilidade de compra
                            de malhas e acabamentos.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Prazos de produção</h5>
                        <p cCardText>
                            Com registro dos cortes é possível monitorar o tempo gasto por modelos, assim o sistema pode
                            classificar os modelos que tem maior agilidade na produção e modelos com maior tempo de
                            entrega.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Indicador</h5>
                        <p cCardText>
                            Atraso de corte, será um indicador do planejamento e a execução. por exemplo: se foi
                            planejado um corte para o dia 10 de janeiro e a compra ainda não foi realizada será visto o
                            tempo médio de compra e o tempo médio de entrega do modelo para alertar a empresa de um
                            possível atraso.
                        </p>
                    </c-card-body>
                </c-card>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>