<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Compras no ramo de confecção</strong>
            </c-card-header>
            <c-card-body class="row">
                <h6 cCardSubtitle class="mb-2 text-medium-emphasis">
                    As compras do cliente são realizadas em malharias da cidade,
                    e lojas de acabamento, a compra de malhas ou tecido tem um processo diferente das compras de
                    acabamento.
                    <br>
                </h6>
                
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Compras de Malhas</h5>
                        <p cCardText>
                            São realizadas por períodos semelhantes, normalmente 2 vezes por mês.
                            E o cliente nem sempre vai á malharia. As compras são realizadas por peças de malhas
                            divididas por cores,
                            uma peça de tecido tem somente uma cor, normalmente o cliente tem um padrão de quantidade de
                            peças por pedido.
                            Variando as cores conforme a estação Verão / inverno.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Compras de acabamento</h5>
                        <p cCardText>
                            Compras de acabamentos são diversificada, não contem regularidade de produtos e quantidades,
                            produtos podem ser comprado por uma tendência
                            da moda e não ser repetido por mais de ano. Normalmente são compras feitas em diversas
                            lojas.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Serviços de acabamento</h5>
                        <p cCardText>

                            Serviços de acabamentos são prestadores de serviço que precisam atuar no produto durante o
                            processo de confecção, não fornece um produto separado mas realiza um serviço nas peças,
                            como silk, bordagem entre outros.
                        </p>
                    </c-card-body>
                </c-card>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>