<h3>
    <p>Compras no ramo de confecção</p>
</h3>
<br>
<h5>As compras do cliente são realizadas em malharias da cidade, e lojas de acabamento, a compra de malhas ou tecido
    tem um processo diferente das compras de acabamento.</h5>
<br>
<br>
<h4>
    Compras de Malhas
</h4>
<br>
<h5>
    Compras de malhas são realizadas por períodos semelhantes, normalmente 2 vezes por mês. E o cliente nem sempre vai á
    malharia.
    As compras são realizadas por de peças de malhas divididas por cores, uma peça de tecido tem somente uma cor,
    normalmente o
    cliente tem um padrão de quantidade de peças
    no pedido. Variando as cores conforme a estação Verão / inverno.
</h5>
<br>
<br>
<h4>
    Compras de acabamento
</h4>
<br>
<h5>
    Compras de acabamentos são diversificada, não contem regularidade de produtos e quantidades, produtos podem ser comprado
    por uma tendência da moda e não ser repetido por mais de ano. Normalmente são compras feitas em diversas lojas.
</h5>
<h4>
    Serviços de acabamento
</h4>
<br>
<h5>
    Serviços de acabamentos são prestadores de serviço que precisam atuar no produto durante o processo de confecção, não fornece um produto separado
    mas realiza um serviço nas peças, como silk, bordagem entre outros.
</h5>