<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Compras no ramo de confecção</strong>
            </c-card-header>
            <c-card-body class="row">
                <h6 cCardSubtitle class="mb-2 text-medium-emphasis">
                    Para melhorar o lucro e impulsionar o crescimento no ramo de confecção de roupas e produção, é
                    importante monitorar vários aspectos do seu sistema de compras. Aqui estão algumas áreas-chave
                    <br>
                </h6>

                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Compra de Malhas</h5>
                        <p cCardText>
                            São realizadas por períodos semelhantes, normalmente 2 vezes por mês.
                            E o cliente nem sempre vai á malharia. As compras são realizadas por peças de malhas
                            divididas por cores,
                            uma peça de tecido tem somente uma cor, normalmente o cliente tem um padrão de quantidade de
                            peças por pedido.
                            Variando as cores conforme a estação Verão / inverno.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Compra de acabamentos</h5>
                        <p cCardText>
                            Compras de acabamentos são diversificada, não contem regularidade de produtos e quantidades,
                            produtos podem ser comprado por uma tendência
                            da moda e não ser repetido por mais de ano. Normalmente são compras feitas em diversas
                            lojas.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Serviços de acabamento</h5>
                        <p cCardText>

                            Serviços de acabamentos são prestadores de serviço que precisam atuar no produto durante o
                            processo de confecção, não fornece um produto separado mas realiza um serviço nas peças,
                            como silk, bordagem entre outros.
                        </p>
                    </c-card-body>
                </c-card>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Vantagens para confecção</strong>
            </c-card-header>
            <c-card-body class="row">
                <h6 cCardSubtitle class="mb-2 text-medium-emphasis">
                    Aqui serão listados os benefícios esperado ao gerenciar as compras através do sistema.
                    <br>
                </h6>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Previsão de pagamentos</h5>
                        <p cCardText>
                            Acompanhe as datas de pagamentos a partir do registro de compras.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Fornecedores e cotações</h5>
                        <p cCardText>
                            Acompanhe os fornecedores com os quais você trabalha regularmente e verifique se eles estão
                            oferecendo preços competitivos. Monitore também as cotações de outros fornecedores para
                            garantir que você esteja obtendo o melhor custo-benefício.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Prazos de entrega</h5>
                        <p cCardText>
                            Garanta que os fornecedores cumpram os prazos de entrega acordados. Atrasos podem afetar
                            negativamente sua capacidade de atender às demandas dos clientes e comprometer a reputação
                            do seu negócio.
                        </p>
                    </c-card-body>
                </c-card>
                <c-card class="cardKid">
                    <c-card-body>
                        <h5 cCardTitle>Indicador</h5>
                        <p cCardText>
                            Gráfico do valor de compras por mês. será realizada uma comparação com as compras do mês
                            anterior
                            se o custo da compra ultrapassar a 20% será disparado um sinal de alerta solicitando uma
                            justificativa.
                        </p>
                    </c-card-body>
                </c-card>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>