<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Registrar Compra</strong>
            </c-card-header>
            <c-card-body>
                <form cForm>
                    <c-row>
                        <c-col xs="9">
                            <div class="mb-3">
                                <label cLabel for="exampleFormControlInput1">Data</label>
                                <input cFormControl id="exampleFormControlInput1" placeholder="" type="date" />
                            </div>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col xs="12">
                            <div class="mb-3">
                                <label cLabel for="exampleFormControlInput1">Malharia</label>
                                <input cFormControl id="exampleFormControlInput1" placeholder="" type="text" />
                            </div>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col xs="6">
                            <div class="mb-3">
                                <label cLabel for="exampleFormControlInput1">Peso</label>
                                <input cFormControl id="exampleFormControlInput1" placeholder="" type="number" />
                            </div>
                        </c-col>
                        <c-col xs="6">
                            <div class="mb-3">
                                <label cLabel for="exampleFormControlInput1">Preço por Kg</label>
                                <input cFormControl id="exampleFormControlInput1" placeholder="" type="number" />
                            </div>
                        </c-col>                        
                    </c-row>
                    <c-row>
                        <c-col xs="12">
                            <div class="mb-3">
                                <label cLabel for="exampleFormControlInput1">Total</label>
                                <input cFormControl id="exampleFormControlInput1" placeholder="" type="number" />
                            </div>
                        </c-col>
                    </c-row>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>