<button cButton color="info" (click)="redirectToRegistrar()">Registrar Compra</button>

<table [striped]="true" cTable>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Malharia</th>
            <th scope="col">Total</th>
            <th scope="col">Peso</th>
            <th scope="col">Preço por Kilo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let compra of _compras">
            <th scope="row">{{compra.id}}</th>
            <td data-cell="Data">{{compra.data}}</td>
            <td data-cell="Malharia">{{compra.fornecedorNome}}</td>
            <td> <ng-container *ngIf="compra.total !== null; else noValue">
                {{ compra.total | currency:'BRL':'symbol':'1.2-2'}}
                </ng-container>
                <ng-template #noValue>N/A</ng-template>
            </td>
            <td data-cell="Peso">{{compra.peso |  number:'1.2-2'}}</td>
            <td data-cell="Preço (Kg)">{{compra.preco | currency:'BRL':'symbol':'1.2-2'}}</td>
        </tr>
    </tbody>
</table>
<br>
<button cButton color="secondary" (click)="redirectToLink()">Conceito</button>