<button cButton (click)="redirectToLink()">Conceito</button>
<button cButton (click)="redirectToRegistrar()">Registrar Compra</button>

<table [striped]="true" cTable>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Malharia</th>
            <th scope="col">Total</th>
            <th scope="col">Peso</th>
            <th scope="col">Preço por Kilo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>       
    </tbody>
</table>