<button cButton (click)="redirectToLink()">Conceito</button>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Cortes</strong>
            </c-card-header>
            <c-card-body>
                <table [striped]="true" cTable>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Data do Corte</th>
                            <th scope="col">Quantidade total peças</th>
                            <th scope="col">Quantidade de peças por modelo</th>
                            <th scope="col">Fase</th>
                            <th scope="col">Compra Origem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>15/01/2024</td>
                            <td>2.500,00</td>
                            <td>250</td>
                            <td>Planejamento</td>
                            <td>Karil (01/05/2023) </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>15/01/2024</td>
                            <td>2.500,00</td>
                            <td>250</td>
                            <td>Preparação</td>
                            <td>Karil (01/05/2023) </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>15/01/2024</td>
                            <td>2.500,00</td>
                            <td>250</td>
                            <td>Distribuição</td>
                            <td>Karil (01/05/2023) </td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
        </c-card>

        <c-card class="mb-4">
            <c-card-header>
                <strong>Planejamento</strong>
            </c-card-header>
            <c-card-body>
                <table [striped]="true" cTable>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Data Entrega</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Blusa sem manga</td>
                            <td>10/02/2024</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Blusa Ref. 54</td>
                            <td>15/02/2024</td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
        </c-card>

        <c-card class="mb-4">
            <c-card-header>
                <strong>Distribuição</strong>
            </c-card-header>
            <c-card-body>
                <table [striped]="true" cTable>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Costureiro(a)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Camiseta</td>
                            <td>200</td>
                            <td>Fabio Constureiro</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Camiseta Regata</td>
                            <td>200</td>
                            <td>Fabrica</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Blusa Ref. 432</td>
                            <td>600</td>
                            <td>Facção Junior</td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
        </c-card>

    </c-col>
</c-row>